<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Menu</name>
    <events>
        <event-block sid="4257285804136358">
            <conditions>
                <condition id="3" name="On touched object" sid="531240393637243" type="Touch">
                    <param id="0" name="Object">Jugar</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="86699478649894" type="System">
                    <param id="0" name="Layout">LevelSelect</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="6246665831430964">
            <conditions>
                <condition id="3" name="On touched object" sid="2844163793450761" type="Touch">
                    <param id="0" name="Object">Volver</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="3590148729362686" type="System">
                    <param id="0" name="Layout">Menu</param>
                </action>
                <action id="-26" name="Restart layout" sid="1605368635088489" type="System" />
            </actions>
        </event-block>
        <event-block sid="424787871331498">
            <conditions>
                <condition id="3" name="On touched object" sid="7908817480928676" type="Touch">
                    <param id="0" name="Object">ElegirNivel1</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="6990732418634992" type="System">
                    <param id="0" name="Layout">Nivel1</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="1440963472137342">
            <conditions>
                <condition id="3" name="On touched object" sid="2924174535684697" type="Touch">
                    <param id="0" name="Object">ElegirNivel2</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="6614116564800901" type="System">
                    <param id="0" name="Layout">Nivel2</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="7907202329696888">
            <conditions>
                <condition id="3" name="On touched object" sid="6540122116585429" type="Touch">
                    <param id="0" name="Object">ElegirTutorial</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="670450953791236" type="System">
                    <param id="0" name="Layout">Tutorial</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
