<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Menu</name>
    <events>
        <event-block sid="4257285804136358">
            <conditions>
                <condition id="3" name="On touched object" sid="531240393637243" type="Touch">
                    <param id="0" name="Object">Jugar</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="86699478649894" type="System">
                    <param id="0" name="Layout">LevelSelect</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
